<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Assesment.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FE342B001CABA0060018F5D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE342B1C1CABA0070018F5D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE342B271CABA0070018F5D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
